@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

/* SLIDING IMAGES ========================= */
#visitor-page {
  overflow: hidden;
  #sub-header {
    background-image: url("./../img/Bricks.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .button {
      width: 70px;
      text-align: center;
      font-size: var.$font-size-base;
      @include mix.mobile-s-styles {
        width: 50px;
      }
    }
  }
  .image-rows {
    background-color: var.$background-normal;
    white-space: nowrap;
  }
  .row {
    display: inline-block;
    width: 1970px;
  }
  .row img {
    display: inline;
    height: 150px;
    @include mix.mobile-s-styles {
      height: 190px;
    }
  }

  @keyframes left-to-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes right-to-left {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .slide-to-right {
    animation: 35s left-to-right linear infinite;
  }

  .slide-to-left {
    animation: 35s right-to-left linear infinite;
  }

  .image {
    box-shadow: -3px -1px 8px 5px #00000080;
    margin: 20px;
    cursor: pointer;
    width: 280px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 3px;
    padding: 0px;
    &:hover {
      transform: scale(1.2);
      transition: transform 0.3s;
    }
  }
}

/* CAROUSEL ======================== */

#carousel-section {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  cursor: pointer;
  ul {
    position: relative;
    height: 250px;
    li {
      position: absolute;
      max-width: 500px;
      height: 100%;
      width: 100%;
      left: 0;
    }
  }
  .carousel-button {
    position: absolute;
    color: var.$primary-default;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
  }
  #nextButton {
    i {
      position: absolute;
      right: 10px;
    }
    right: 5px;
  }
  i {
    font-size: 20px;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  .carousel-item {
    height: 100%;
    transition: left 0.3s ease-in-out;
    display: flex;
  }
  .inner-carousel-content {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    border-radius: 15px;
    margin: 50px 40px 30px 40px;
    padding: 4px;
    &:nth-child(1) {
      p {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var.$background-normal;
        overflow: auto;
      }
      background-color: var.$background-dark;
    }
    &:nth-child(3) {
      p {
        position: absolute;

        top: 50%;
        transform: translateY(-50%);
      }
      overflow: visible;
    }
  }
  .carousel-image {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 70px;
    width: 70px;
    @include mix.mobile-s-styles {
      height: 50px;
      width: 50px;
    }
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid var.$primary-default;
    transition: 0.2s ease-in-out;
  }

  .separator {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 3px;
    overflow: hidden;
    background-color: var.$primary-default;
  }

  /* CAROUSEL NAV BUTTONS ================ */

  .carousel-nav {
    display: flex;
    justify-content: center;
    gap: 7px;
    .c-nav-button {
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: var.$primary-default;
      cursor: pointer;
    }
    .c-nav-button:hover,
    .active {
      background-color: var.$primary-default-darker;
      transition: 0.2s ease-in-out;
    }
    .active {
      transition: 0.5s ease-in-out;
      transform: translateY(-2px);
    }
  }
}
