@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
/* CSS RESETS */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
img {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

/* CSS RESETS */
/* html{
  scroll-behavior: smooth;
} */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #A16A5E;
  background-color: #FCEBD5;
}

/* COMMON ELEMENTS ======================== */
h1 {
  font-size: 1.875rem;
  font-weight: 900;
}

h2 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: "Reenie Beanie";
}
@media (max-width: 320px) {
  h2 {
    font-size: 1.5625rem;
  }
}

h3 {
  color: #FCEBD5;
  font-size: 0.9375rem;
  font-weight: 100;
}

h4 {
  font-size: 0.875rem;
  font-weight: 100;
  margin-bottom: 5px;
}

p {
  font-size: 0.6875rem;
}

a {
  text-decoration: none;
  list-style: none;
  color: #A16A5E;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: none;
}

li {
  list-style: none;
}

.shadow-box {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: space-between;
  color: #FCEBD5;
  background-color: #A16A5E;
  border: 1px solid #FCEBD5;
  border-radius: 3px;
  padding: 2px 15px;
  transition: 0.2s ease-in-out;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.button:active {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}
.button input::-webkit-outer-spin-button,
.button input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  height: 65px;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #FCEBD5;
}
@media (max-width: 320px) {
  .header {
    height: 60px;
  }
}

.header-offset {
  height: 65px;
}
@media (max-width: 320px) {
  .header-offset {
    height: 60px;
  }
}

i {
  font-size: 1.5625rem;
  transition: 0.2s ease-in-out;
}
i:hover,
i :active {
  transform: scale(1.2);
  color: #7e5147;
  transition: 0.2s ease-in-out;
}

.send-btn {
  min-width: 80px;
  background-color: #1B59AC;
}

.unpublish-btn {
  background-color: #1BAC6F;
}

.publish-btn {
  background-color: #E5E5E5;
  color: #5A5A5A;
}

.remove-btn {
  background-color: #D44C2E;
}

.edit-btn {
  background-color: #FCEBD5;
  color: #A16A5E;
}

.add-btn {
  background-color: #D44C2E;
}

.cancel-btn {
  background-color: #E5E5E5;
  color: #5A5A5A;
}

input,
textarea {
  font-size: 0.6875rem;
  caret-color: #EDD5BB;
  color: #EDD5BB;
  transition: ease-in 0.2s;
}
input:focus, input:hover,
textarea:focus,
textarea:hover {
  outline: 2px solid #E09686;
  transform: scale(101%);
}

/* LOGO ================ */
.logo-image {
  left: 2%;
  width: 90px;
  position: absolute;
}
@media (max-width: 320px) {
  .logo-image {
    left: -10px;
    width: 85px;
  }
}
.logo-image .logo-background {
  background-color: #FCEBD5;
  position: absolute;
  top: 18px;
  left: 23px;
  width: 48%;
  height: 59%;
}
@media (max-width: 320px) {
  .logo-image .logo-background {
    top: 17px;
    left: 22px;
    width: 47%;
    height: 59%;
  }
}
.logo-image img {
  position: relative;
}

/* HELPER CLASSES ============== */
.icon {
  margin-right: 10px;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.header-text {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.bg-contrast {
  background-color: #D44C2E !important;
}

.darken {
  background-color: rgba(0, 0, 0, 0.1) !important;
  transition: 0.1s ease-in-out;
}

.hovering {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

.page-section {
  display: none;
}

/* JS TRANSITION ANIMATIONS */
.slide-down {
  transform: translateY(0%);
  transition: transform 0.3s ease;
}

.slide-down.open {
  transform: translateY(106%);
}

.resize {
  transform: scale(0%) !important;
}

.resize.open {
  transform: scale(100%) !important;
}

/* RANDOM ============= */
#landing-page .content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 15%;
}
#landing-page .logo-content {
  height: 200px;
  width: 200px;
  margin: 10px 0;
}
#landing-page .logo-content .logo {
  width: 100%;
  height: 50%;
  background-image: url("./../img/Logo.png");
  background-repeat: no-repeat;
  background-position: center;
}
#landing-page #join-as {
  position: relative;
  text-align: center;
  height: 200px;
}
#landing-page #join-as h2 {
  font-size: 40px;
}
#landing-page #join-as .artist,
#landing-page #join-as .visitor {
  transition: transform 0.6s ease;
  padding: 20px 30px;
  width: 270px;
  height: 300px;
}
#landing-page #join-as .artist h2,
#landing-page #join-as .visitor h2 {
  width: 100%;
}
#landing-page #join-as .artist:hover,
#landing-page #join-as .visitor:hover {
  transform: scale(1.1);
}
#landing-page #join-as .artist {
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0 calc(100% - 200px));
  position: relative;
  color: #A16A5E;
  cursor: pointer;
  background-color: #EDD5BB;
}
#landing-page #join-as .artist:hover {
  box-shadow: 1px -4px 5px -3px rgba(0, 0, 0, 0.25);
}
#landing-page #join-as .artist .button {
  color: #000000;
  border-color: #A16A5E;
  background-color: #EDD5BB;
  margin-left: auto;
}
#landing-page #join-as .artist .dropdown-section {
  position: relative;
  overflow: visible;
}
#landing-page #join-as .visitor {
  clip-path: polygon(0 0, 139% 200px, 100% 100%, 0 100%);
  margin-top: -195px;
  background-color: #A16A5E;
  color: #EDD5BB;
  display: flex;
  align-items: flex-end;
  height: 245px;
}

#select-artist {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: #E5E5E5;
}
#select-artist .user-list {
  padding: 0;
}
#select-artist .user-list ul {
  list-style: none;
  padding: 0;
}
#select-artist .user-list li {
  padding: 4px 8px;
  cursor: pointer;
}
#select-artist .user-list li:hover {
  background-color: #FCEBD5;
}

/* SLIDING IMAGES ========================= */
#visitor-page {
  overflow: hidden;
}
#visitor-page #sub-header {
  background-image: url("./../img/Bricks.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#visitor-page #sub-header .button {
  width: 70px;
  text-align: center;
  font-size: 0.6875rem;
}
@media (max-width: 320px) {
  #visitor-page #sub-header .button {
    width: 50px;
  }
}
#visitor-page .image-rows {
  background-color: #EDD5BB;
  white-space: nowrap;
}
#visitor-page .row {
  display: inline-block;
  width: 1970px;
}
#visitor-page .row img {
  display: inline;
  height: 150px;
}
@media (max-width: 320px) {
  #visitor-page .row img {
    height: 190px;
  }
}
@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes right-to-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#visitor-page .slide-to-right {
  animation: 35s left-to-right linear infinite;
}
#visitor-page .slide-to-left {
  animation: 35s right-to-left linear infinite;
}
#visitor-page .image {
  box-shadow: -3px -1px 8px 5px rgba(0, 0, 0, 0.5019607843);
  margin: 20px;
  cursor: pointer;
  width: 280px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-radius: 3px;
  padding: 0px;
}
#visitor-page .image:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
}

/* CAROUSEL ======================== */
#carousel-section {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  position: relative;
  cursor: pointer;
  /* CAROUSEL NAV BUTTONS ================ */
}
#carousel-section ul {
  position: relative;
  height: 250px;
}
#carousel-section ul li {
  position: absolute;
  max-width: 500px;
  height: 100%;
  width: 100%;
  left: 0;
}
#carousel-section .carousel-button {
  position: absolute;
  color: #A16A5E;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
}
#carousel-section #nextButton {
  right: 5px;
}
#carousel-section #nextButton i {
  position: absolute;
  right: 10px;
}
#carousel-section i {
  font-size: 20px;
}
#carousel-section .carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
#carousel-section .carousel-item {
  height: 100%;
  transition: left 0.3s ease-in-out;
  display: flex;
}
#carousel-section .inner-carousel-content {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 15px;
  margin: 50px 40px 30px 40px;
  padding: 4px;
}
#carousel-section .inner-carousel-content:nth-child(1) {
  background-color: #E09686;
}
#carousel-section .inner-carousel-content:nth-child(1) p {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #EDD5BB;
  overflow: auto;
}
#carousel-section .inner-carousel-content:nth-child(3) {
  overflow: visible;
}
#carousel-section .inner-carousel-content:nth-child(3) p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#carousel-section .carousel-image {
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #A16A5E;
  transition: 0.2s ease-in-out;
}
@media (max-width: 320px) {
  #carousel-section .carousel-image {
    height: 50px;
    width: 50px;
  }
}
#carousel-section .separator {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 3px;
  overflow: hidden;
  background-color: #A16A5E;
}
#carousel-section .carousel-nav {
  display: flex;
  justify-content: center;
  gap: 7px;
}
#carousel-section .carousel-nav .c-nav-button {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #A16A5E;
  cursor: pointer;
}
#carousel-section .carousel-nav .c-nav-button:hover,
#carousel-section .carousel-nav .active {
  background-color: #7e5147;
  transition: 0.2s ease-in-out;
}
#carousel-section .carousel-nav .active {
  transition: 0.5s ease-in-out;
  transform: translateY(-2px);
}

/* LISTING ITEMS ==================== */
#listing-page {
  position: relative;
  background-color: #EDD5BB;
  margin-bottom: 100px;
}
#listing-page .header {
  background-color: #FCEBD5;
}

#all-listing-item-container {
  width: 100%;
  overflow: hidden;
  background-color: #EDD5BB;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  #all-listing-item-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
#all-listing-item-container li:nth-child(odd) {
  background-color: #FCEBD5;
}
#all-listing-item-container li:nth-child(odd) .badge {
  background-color: #A16A5E;
  color: #FCEBD5;
}
#all-listing-item-container li:nth-child(even) {
  background-color: #A16A5E;
  color: #FCEBD5;
}
#all-listing-item-container li:nth-child(even) .badge {
  background-color: #FCEBD5;
  color: #A16A5E;
}
#all-listing-item-container .listing-item-container {
  margin-bottom: 40px;
  box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.5098039216);
}
#all-listing-item-container .listing-image-container {
  height: 300px;
  transition: 0.4s ease-in-out;
}
#all-listing-item-container .listing-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#all-listing-item-container .listing-content {
  position: relative;
  padding: 5px 20px;
}
#all-listing-item-container .listing-content .badge {
  position: absolute;
  border-radius: 2px;
  padding: 5px 9px;
  right: 20px;
  top: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
}

/* FILTERING SECTION ==================== */
#filtering-section {
  display: block;
  height: 100vh;
  width: 100%;
  bottom: 100%;
  padding: 20px;
  transition: 0.2s ease-in;
  position: fixed;
  background-color: #A16A5E;
}
#filtering-section h3 {
  font-weight: 100;
  color: #FCEBD5;
}
#filtering-section h1 {
  margin-top: 22px;
  color: #EDD5BB;
}
#filtering-section .filter-container {
  padding-bottom: 150px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 30px;
}
#filtering-section .filter-container > div {
  padding: 20px 0;
  border-bottom: 2px solid #FCEBD5;
}
#filtering-section .filter-container::-webkit-scrollbar {
  display: none;
}
#filtering-section input,
#filtering-section select,
#filtering-section .button {
  width: 100px;
  margin: 5px 0;
}
#filtering-section input:hover,
#filtering-section select:hover,
#filtering-section .button:hover {
  transform: none;
  color: #FCEBD5;
}
#filtering-section input::placeholder,
#filtering-section select::placeholder,
#filtering-section .button::placeholder {
  color: #FCEBD5;
}
#filtering-section .prices {
  display: flex;
  justify-content: space-between;
}
#filtering-section .prices .button {
  width: 65px;
}
#filtering-section .prices .min-price,
#filtering-section .prices .max-price {
  display: flex;
  align-items: center;
  gap: 5px;
}
#filtering-section .close-button {
  background-color: #A16A5E;
  cursor: pointer;
  height: 65px;
  width: 65px;
  position: absolute;
  right: 5px;
  top: 30px;
}
#filtering-section .close-button .x-line {
  position: absolute;
  border-radius: 50%;
  width: 3px;
  height: 100%;
  background-color: #FCEBD5;
  opacity: 0.7;
}
#filtering-section .close-button .x1 {
  transform: translateX(30px) rotate(45deg);
}
#filtering-section .close-button .x2 {
  transform: translateX(30px) rotate(-45deg);
}
#filtering-section .form-select {
  outline: none;
  cursor: pointer;
}
#filtering-section .form-select option {
  color: #A16A5E;
  background-color: #FCEBD5;
}

/* FILTER BUTTON STYLE ======================== */
.filter-button {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 5;
  right: 14px;
  bottom: 14px;
  height: 65px;
  width: 65px;
  border-radius: 6px;
  background-color: #D44C2E;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.filter-button:active {
  background-color: rgb(255, 72, 0);
}
.filter-button .vertical-line {
  position: relative;
  width: 4px;
  height: 100%;
  background-color: white;
  transition: 0.5s ease-out;
}
.filter-button .vertical-line .horizontal-line {
  position: absolute;
  left: -3px;
  width: 11px;
  height: 5px;
  background-color: white;
  transition: 0.5s ease-out;
}
.filter-button .vertical-line:nth-child(1) .horizontal-line {
  top: 70%;
}
.filter-button .vertical-line:nth-child(2) .horizontal-line {
  top: 20%;
}
.filter-button .vertical-line:nth-child(3) .horizontal-line {
  top: 55%;
}
.filter-button .hl-1,
.filter-button .hl-2,
.filter-button .hl-3 {
  transition: 2s ease-out;
  opacity: 0;
}
.filter-button .hl-1 {
  transform: translateY(-25px);
}
.filter-button .hl-2 {
  transform: translateY(20px);
}
.filter-button .hl-3 {
  transform: translateY(-20px);
}
.filter-button .vl-1,
.filter-button .vl-2,
.filter-button .vl-3 {
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.filter-button .vl-1 {
  transform: translate(5px, 19px) rotate(-39deg);
  height: 54% !important;
}
.filter-button .vl-2 {
  transform: translate(-5px, 20px) rotate(-39deg);
  height: 70%;
  height: 50%;
  opacity: 0;
}
.filter-button .vl-3 {
  transform: translate(-8px, 0px) rotate(27deg);
}

.artist-home {
  /* nav-dropdown ===================== */
  position: relative;
}
.artist-home .artist-dropdown {
  display: block;
  z-index: 10;
  width: 100%;
  bottom: 96%;
  padding: 20px;
  transition: 0.2s ease-in;
  position: fixed;
  background-color: #A16A5E;
  color: #FCEBD5;
  text-align: center;
  padding: 30px 5px;
  box-shadow: 0px 2px 7px 4px rgba(0, 0, 0, 0.4392156863);
}
.artist-home .artist-dropdown li {
  margin-right: auto;
  margin-left: auto;
  width: 92%;
}
.artist-home .artist-dropdown .nav-option {
  font-size: 1.875rem;
  display: block;
  padding: 2px;
  margin: 5px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

/* EARNINGS SECTION ==================================== */
.earnings-section {
  padding-top: 11px;
  background-color: #EDD5BB;
  display: flex;
  flex-wrap: wrap;
}
.earnings-section .earnings-content {
  margin: 10px;
  background-color: #A16A5E;
  text-align: center;
  color: #FCEBD5;
  padding: 15px;
  font-size: 40px;
}
@media (max-width: 375px) {
  .earnings-section .earnings-content {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .earnings-section .earnings-content {
    font-size: 25px;
  }
}
.earnings-section #live-auction-widget {
  cursor: pointer;
}

/* CHART SECTION ========================================= */
.chart-section {
  width: 100%;
  padding: 10px;
}
.chart-section #b-365-days {
  width: 55px !important;
}
.chart-section h3 {
  color: #A16A5E;
}
.chart-section .income-days {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin: 20px 0;
  text-align: center;
}
.chart-section .button {
  display: block;
  width: 40px;
  font-size: 11px;
  padding: 5px;
}
.chart-section .button:hover,
.chart-section .button :active {
  transform: scale(105%);
  background-color: #7e5147;
}
.chart-section .button.active {
  background-color: #D44C2E;
}

.chartBox {
  height: 350px;
}

/* ITEMS SECTION=================================== */
#items {
  height: 100vh;
  background-color: #EDD5BB;
}
#items .add-new-item-container {
  padding: 20px 0;
}
#items .add-new-item {
  text-align: center;
  padding: 12px;
  background-color: #FCEBD5;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
}
#items .add-new-item .dashed-border {
  cursor: pointer;
  padding: 25px 0;
  border: 2px dashed #A16A5E;
}
#items .add-new-item h3 {
  color: #A16A5E !important;
}
#items .listing-item-container {
  margin-bottom: 25px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #FCEBD5;
}
#items .listing-item-container .listing-image-container {
  height: 150px !important;
  overflow: hidden;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
}
#items .listing-item-container .listing-content {
  position: relative;
  padding: 10px;
}
#items .listing-item-container .listing-content .price {
  font-weight: 400;
  background-color: #A16A5E;
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
  position: absolute;
  right: 10px;
  top: 10px;
}
#items .listing-item-container .listing-content h4 {
  margin-bottom: 2px;
}
#items .listing-item-container .listing-content .date {
  padding-bottom: 10px;
  font-size: 8px;
  color: #D44C2E;
}
#items .item-buttons {
  padding: 10px;
  background-color: #A16A5E;
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
}
#items .item-buttons .button {
  display: block;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 0.6875rem;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
  font-weight: 900;
}

/* *ADDING/EDITING ITEM ======================== */
#adding-item-by-artist {
  overflow: auto;
  display: block;
  z-index: 5;
  width: 100%;
  bottom: 100%;
  margin-top: 50px;
  transition: 0.2s ease-in;
  position: fixed;
  padding: 50px 10px;
  height: 96vh;
  background-color: #A16A5E;
  color: #FCEBD5;
}
#adding-item-by-artist .add-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#adding-item-by-artist .is-published {
  padding-top: 7px;
  margin-right: 23px;
}

/* STYLE FOR FORM EDIT/ADD === */
.form-container {
  width: 100%;
  margin: 0 auto;
}
.form-container .form-row {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
}
.form-container .form-row > div {
  width: 100%;
}
.form-container .w50 {
  display: flex;
  gap: 10px;
}
.form-container label {
  margin-bottom: 5px;
}
.form-container input[type=text],
.form-container textarea,
.form-container input[type=number] {
  width: 100%;
  height: 25px;
  padding: 5px;
  border: 2px solid #FCEBD5;
  border-radius: 2px;
  background-color: #A16A5E;
}
.form-container input[type=text]:focus,
.form-container textarea:focus,
.form-container input[type=number]:focus {
  outline: 2px solid #E09686;
}
.form-container #add-description {
  min-height: 100px;
  word-wrap: break-word;
}
.form-container .separator {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}
.form-container .take-picture {
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: 2px dashed #FCEBD5;
}
.form-container .take-picture .image-container {
  display: grid;
  place-items: center;
  text-align: center;
  top: 10px;
  height: 300px;
  position: relative;
}
.form-container .take-picture .image-container .inner-content i {
  font-size: 50px;
}
.form-container .take-picture .image-container .inner-content i:hover {
  transform: none;
  color: inherit;
}
.form-container .take-picture .image-container .inner-content h4 {
  margin-top: 5px;
}
.form-container .submit-buttons {
  margin: 20px 0;
}
.form-container button {
  display: block;
  width: 50%;
  text-align: center !important;
  border: none;
  border-radius: 2px;
  width: 100% !important;
}

#capturedImage {
  object-fit: unset;
}

#imageInput {
  display: none;
}

/* STYLE FOR CHECKBOX === */
input[type=checkbox] {
  display: none;
}

.checkbox-container {
  position: relative;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  right: -22px;
  height: 15px;
  width: 15px;
  background-color: #A16A5E;
  border: 1px solid #EDD5BB;
  border-radius: 2px;
}

input[type=checkbox]:checked + .checkmark {
  background-color: #FCEBD5;
}

.checkmark:after {
  content: "✓";
  position: absolute;
  display: none;
}

input[type=checkbox]:checked + .checkmark:after {
  display: block;
  color: #A16A5E;
  width: 15px;
  height: 10px;
  top: -5px;
}

/* END OF CHECKBOX ==== */
/* SNAPSHOT WINDOW ======================== */
#take-snapshot-window {
  z-index: 8;
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 10px;
  padding-bottom: 50px;
  background-color: #a16a5e;
  position: fixed;
  transition: 0.2s ease;
}
#take-snapshot-window .camera-box {
  height: 70vh;
  margin: 10px;
  margin-top: 50px;
  box-shadow: -2px 3px 7px 3px rgba(0, 0, 0, 0.631372549);
}
#take-snapshot-window .snapshot-button-box {
  height: 100px;
  color: #FCEBD5;
  font-size: 35px;
  display: grid;
  place-items: center;
  text-align: center;
}
#take-snapshot-window .snapshot-button {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */